<div class="ticket__item">
  <div class="ticket__item-donation">
    <h3>Donation</h3>
    <p>Access to arts is vital. pay what you can</p>
  </div>

  <div class="ticket__item__donation-info">
    <p>I want to donate</p>
    <div class="ticket__item__donation-amount">
      <app-donation-item
        *ngFor="let donation of donations"
        [donation]="donation"
        (click)="onDonationSelected(donation)"
        [ngClass]="{ donation__selected: donationSelected === donation }"
      ></app-donation-item>
      <form>
        <div class="ticket__item__donation-input">
          <span>$</span>
          <input
            type="number"
            placeholder="Enter Amount"
            (input)="onInputChange($event)"
          />
        </div>
      </form>
    </div>
  </div>
</div>
