<div class="ticket__item">
  <div class="ticket__item-donation">
    <h3>Donation</h3>
    <p>Access to arts is vital. pay what you can</p>
  </div>

  <div class="ticket__item__donation-info">
    <p>I want to donate</p>
    <div class="ticket__item__donation-amount">
      <span> $50</span>
      <span> $100</span>
      <span class="selected"> $200</span>
      <span> $500</span>
      <form>
        <div class="ticket__item__donation-input">
          <span>$</span>
          <input type="number" placeholder="Enter Amount" />
        </div>
      </form>
    </div>
  </div>
</div>
