<div
  class="ticket__item"
  [ngClass]="{ ticket__item__img__container: ticket.url }"
>
  <div class="ticket__img" *ngIf="ticket.url">
    <img src="{{ ticket.url }}" />
  </div>
  <div class="ticket__info">
    <div class="ticket__item-info">
      <h3>{{ ticket.ticketName }}</h3>
      <p>
        {{
          ticket.ticketDesc === ""
            ? "Description not available "
            : ticket.ticketDesc
        }}
      </p>
      <!-- sales info -->
    </div>
    <div class="ticket__item-price">
      <p *ngIf="ticket.ticketPrice < 1">Free</p>
      <p *ngIf="ticket.ticketPrice >= 1">{{ ticket.ticketPrice | currency }}</p>

      <select
        (change)="
          onInputChange(
            $event,
            ticket.ticketName,
            ticket.ticketPrice,
            ticket.isEvent
          )
        "
        [ngClass]="{
          ticket__item__not__available:
            ticket.ticketsAvailable < ticketsToOrder && ticket.isEvent
        }"
      >
        <option
          *ngFor="
            let item of [].constructor(ticket.ticketQuantity);
            let i = index
          "
          value="{{ i }}"
        >
          {{ i }}
        </option>
      </select>
    </div>
  </div>
  <p
    class="ticket__item-available"
    *ngIf="ticketsToOrder === 1 && ticket.ticketsAvailable <= 2 && !ticket.url"
  >
    Only {{ ticket.ticketsAvailable }} tickets available
    <span>Join waitlist</span>
  </p>
  <p
    class="ticket__item-available"
    *ngIf="
      !ticket.url &&
      ticket.ticketsAvailable < ticketsToOrder &&
      !ticketWaitlisted
    "
  >
    {{ ticket.ticketsAvailable }} Ticket{{ ticket.ticketsAvailable > 1 && "s" }}
    Added to cart. Want to join the waitlist for
    {{ ticketsToOrder - ticket.ticketsAvailable }}
    <span (click)="addToWaitList()">Join Waitlist</span>
  </p>
  <p class="ticket__item-available" *ngIf="ticketWaitlisted && !ticket.url">
    2 Tickets Waitlisted.. <span (click)="removeFromWaitList()">Cancel</span>
  </p>
</div>
