.btn {
  width: 100%;
  padding: 1.3rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
}

.checkout__btn {
  background-color: #0eb48a;
  border-color: #0eb48a;
  color: white;
  font-size: 1.7rem;
  margin-top: 2rem;
}
