<section class="checkout__container">
  <h3>Order Summary</h3>

  <div class="checkout__summary">
    <div class="checkout__order__details">
      <div class="checkout__item" *ngFor="let checkoutItem of checkout">
        <P
          [ngClass]="{ checkout__item_waitlisted: checkoutItem.isWaitListed }"
          *ngIf="checkoutItem.ticketToOrder > 0"
        >
          {{ checkoutItem.ticketToOrder }}x {{ checkoutItem.ticketName }}
          <span *ngIf="checkoutItem.isWaitListed">Waitlisted</span>
        </P>
        <span *ngIf="checkoutItem.ticketToOrder > 0"
          >{{ checkoutItem.ticketPrice | currency }}
        </span>
      </div>
      <div *ngIf="router.url === '/checkout'" class="checkout__edit">
        <a routerLink="/"> Edit</a>
      </div>
    </div>

    <div class="checkout__subtotal">
      <p>Subtotal</p>

      <div class="checkout__subtotal-details">
        <div class="checkout__subtotal-item">
          <p>Subtotal</p>
          <span>{{ getSubtotal() | currency }}</span>
        </div>

        <div class="checkout__subtotal-item">
          <p>taxes</p>
          <span>${{ getTaxes() }}</span>
        </div>
      </div>
    </div>

    <div class="checkout__total">
      <p>Total</p>
      <span>{{ getTotal() | currency }} </span>
    </div>

    <div class="checkout__code">
      <span (click)="showCodeInput()"> Have a promo code?</span>
      <div class="checkout__code-input" *ngIf="isShowingCodeInput">
        <input placeholder="Promo code" />
        <button>Apply</button>
      </div>
    </div>
  </div>
</section>
<app-checkout-button
  *ngIf="router.url !== '/checkout'"
  linkName="Checkout"
  linkUrl="/checkout"
></app-checkout-button>
<app-checkout-button
  *ngIf="router.url !== '/'"
  linkName="Review Session"
  linkUrl="/checkout"
></app-checkout-button>
