/* Global styles to this file, and also import other style files */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geneva, Verdana, sans-serif;
}

html {
  font-size: 10px;
  font-weight: lighter;
}

body {
  background: #f3f2f2;
}

.ticket__item__img__container {
  display: flex;
  border-bottom: none !important;
}

.ticket__item__img__container .ticket__img {
  margin-right: 2rem;
}

.donation__selected span {
  color: white;
  background-color: gray;
}

select.ticket__item__not__available {
  border: 1px solid red !important;
  color: red;
  outline: none;
}

a {
  text-decoration: none;
}
